package ru.devag.kamc.repo;

import org.springframework.data.repository.CrudRepository;
import ru.devag.kamc.model.{{name}};

public interface {{name}}Repository extends CrudRepository<{{name}}, Long> {
   
}